{%- if entity.symbol %}
struct {
{%- endif -%}
{%- for member in entity.members %}
uint{{ entity.dtype.width }}_t {{ member.symbol }} : {{ member.width }}; ///< {{ member.brief }}
{%- endfor %}
{%- if entity.symbol %}
} {{ entity.symbol }}; ///< {{ entity.brief }}
{%- endif -%}
