const char *
{{ meta.prefix }}_{{ entity.symbol }}_str(enum {{ meta.prefix }}_{{ entity.symbol }} eval)
{
	switch (eval) {
{%- for member in entity.members %}
	case {{ meta.prefix | upper }}_{{ entity.symbol | upper }}_{{ member.symbol | upper }}:
		return "{{ entity.symbol | upper }}_{{ member.symbol | upper }}";
{%- endfor %}
	}

	return "ENOSYS";
};

