{% if entity.doc %}
/**
 * {{ entity.doc.brief }}
 *
{%- if entity.doc.description %}
 * {{ entity.doc.description }}
 *
{%- endif %}
 * @struct {{ entity.sym }}
 */
{%- endif %}
struct {{ entity.sym }} {
    {% for member in entity.members -%}
    {{ member.typ.c_spelling() }} {{ member.sym }};{% if member.doc %} ///< {{ member.doc.brief }}{% endif %}
	{% endfor %}
};
