{% if entity.doc %}
/**
 * {{ entity.doc.brief }}
 *
{%- if entity.doc.description %}
 * {{ entity.doc.description.replace("\n", "\n * ") }}
 *
{%- endif %}
 * @union {{ entity.sym }}
 */
{%- endif %}
union {{ entity.sym }} {
    {% for member in entity.members -%}
    {{ member.typ.c_spelling() }} {{ member.sym }};{% if member.doc %} ///< {{ member.doc.brief }}{% endif %}
	{% endfor %}
};
