{% if entity.doc %}
/**
 * {{ entity.doc }}
 *
{%- if entity.doc.description %}
 * {{ entity.doc.description.replace("\n", "\n * ") }}
 *
{%- endif %}
 * @union {{ entity.sym }}
 */
{%- endif %}
union {{ entity.sym }} {
	struct {
	    {% for member in entity.members -%}
	    uint{{ entity.nbits }}_t {{ member.sym }} : {{ member.nbits }};{% if member.doc %} ///< {{ member.doc }}{% endif %}
		{% endfor %}
	};
    uint{{ entity.width }}_t raw;
};
