{% if entity.doc %}
/**
 * {{ entity.doc }}
 *
 * @{{ entity.key }}
 */
{% endif %}
struct {{ entity.sym }} {
    {% for member in entity.members -%}
    {{ member.typ.c_spelling() }} {{ member.sym }};{% if member.doc %} ///< {{ member.doc }}{% endif %}
	{% endfor %}
};
