{% if entity.doc %}
/**
 * {{ entity.doc }}
 *
{%- for parameter in entity.parameters %}
 * @param {{ parameter.sym }} {{ parameter.doc }}
{%- endfor %}
{%- if entity.ret and entity.ret.doc %}
 *
 * @return {{ entity.ret.doc }}
{%- endif %}
  */
{%- endif %}
typedef {{ entity.ret.c_spelling() }} (*{{ entity.sym }})
({% for parameter in entity.parameters %}{{ parameter.typ | emit_typespec }}{{ ", " if not loop.last else "" }}{% endfor %});
