{%- if entity.static -%}static {% endif %}
{%- if entity.const -%}const {% endif %}
{%- if entity.char -%}
char
{%- elif entity.cls == "void" -%}
void
{%- elif entity.integer -%}
{%- if entity.width %}
{%- if not entity.signed -%}u{%- endif -%}int{{ entity.width }}_t
{%- else -%}
int
{%- endif -%}
{%- endif -%}
{%- if entity.pointer -%}{%- for n in range(entity.pointer) -%}*{% endfor %}{%- endif -%}
{%- if entity.array -%}[{{ entity.array }}]{%- endif -%}
