---
name: build

on:
  pull_request:
  push:
    branches:
    - "!gh-pages"
    - "**"
    tags:
    - "v*"

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: '${{ matrix.os.name }}-${{ matrix.os.version }}'
    strategy:
      fail-fast: false
      matrix:
        os:
        - {name: ubuntu, version: latest}
        - {name: macos, version: latest}
        python-version: ['3.12', '3.13', '3.14']

    steps:
    - name: Grab source
      uses: actions/checkout@v4

    - name: System, setup Python (${{ matrix.python-version }})
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: System, adjust the GITHUB_PATH
      run: |
        echo "$(python3 -m site --user-base)/bin" >> $GITHUB_PATH
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: System, upgrade pipx
      run: |
        python3 -m pip install --user --upgrade pipx

    - name: System, tools without sudo
      if: ${{ matrix.os.name == 'macos' }}
      run: |
        ./toolbox/pkgs/${{ matrix.os.name }}.sh

    - name: System, tools with sudo
      if: ${{ matrix.os.name != 'macos' }}
      run: |
        sudo ./toolbox/pkgs/${{ matrix.os.name }}.sh

    - name: Yace, install
      run: |
        make install

    - name: System, executable entry-points
      run: |
        yace --version
        black --version
        doxygen --version
        gcc --version
#        coverage --help

    - name: Yace, example
      run: |
        make example

#     - name: Produce coverage report
#     run: |
#       make coverage
#       mv htmlcov output/

    - name: Upload generated sources and doxygen
      uses: actions/upload-artifact@v4
      with:
        name: 'archive-${{ matrix.os.name }}-${{ matrix.os.version }}-py${{ matrix.python-version }}'
        path: output/*
        if-no-files-found: error

    - name: Publish Package
      if: (startsWith(github.ref, 'refs/tags/v') && (matrix.os.name == 'ubuntu') && (matrix.python-version == '3.13'))
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        make release
